<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400|Roboto+Mono&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static',filename='approve/fonts/icomoon/style.css') }}">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='approve/css/bootstrap.min.css') }}">

    <!-- Style -->
    <link rel="stylesheet" href="{{ url_for('static',filename='approve/css/style.css') }}">

    <title>Contact Form #5</title>
  </head>
  <body>


  <div class="content">

    <div class="container">


              <h3 class="thin-heading mb-4">Təsdiqlə</h3>

              <form class="mb-5" method="POST" action="" >
                {{form.hidden_tag()}}
                {% with messages = get_flashed_messages(with_categories=true) %}
                	{% if messages %}
                    	{% for category, message in messages %}
                        	<div class="alert alert-{{ category}}">
                            	{{message}}
                        	</div>
                    	{%endfor%}
                	{% endif %}
                {% endwith %}
                <div class="row">
                  <div class="col-md-6 form-group">
                    {{ form.approve(class="form-control") }}
                  </div>
                <div class="row">
                  <div class="col-12">
                    {{ form.submit(class="btn btn-primary") }}

                  </div>
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



    <script src="{{ url_for('static', filename='approve/js/jquery-3.3.1.min.js') }}"></script>

    <script src="{{ url_for('static', filename='approve/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='approve/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='approve/js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='approve/js/main.js') }}"></script>

  </body>
</html>