{% extends "layout.html" %}
{% block body %}
<br><br><br><br><br><br><br><br><br><br>
<div class="container">

    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static',filename='images/az_image.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">QGIS API</h5>
                  <p class="card-text">QGIS API-dan istifadə etməklə miqrasiya olunmuş və gürüntülənən məlumatlar</p>
                  <a href="{{url_for('viewQgisMap')}}" class="btn btn-primary">Xəritəni görüntülə</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static',filename='images/open_layers.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Open Layers API</h5>
                  <p class="card-text">Open layers API istifadə etməklə poliqon, xətti və nöqtəvi layarın çəkilməsi</p>

                  <a href="{{url_for('openlayer')}}" class="btn btn-primary">Xəritəni görüntülə</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static',filename='images/arcgisapi.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">ESRI API</h5>
                  <p class="card-text">ESRI API istifadə etməklə Azərbaycan üzrə location məlumatlarının...</p>
                  <a href="{{url_for('arcgisapi')}}" class="btn btn-primary">Xəritəni görüntülə</a>
                </div>
            </div>
        </div>


    </div>


</div>


<br><br><br><br><br><br><br><br><br><br>
{% endblock %}